<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Online Food Delivery Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" media="(min-width: 710px) and (max-width: 1281px)" href="phone.css"> -->
    <link rel="stylesheet" media="screen and (max-width: 1281px)" href="../static/phone1.css">
    <!-- <script src="../static/index.js"></script> -->
</head>
<body>
     <header id="fix">
    <nav class="navbar">
        <img src="../static/pngtree-fresh-food-logo-png-image_4774188.jpg" alt="" class="logo">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="#services">Services</a></li>
            <li class="item"><a href="#partners">About Us</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
</header>
    <div id="home">
        <section class="test"></section>
        <br><br><br>
        <h1>Welcome To Fresh Food</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis, unde perspiciatis voluptates libero ipsum nam dignissimos placeat dicta aliquid!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius natus officiis aspernatur dolore ut? Dolore temporibus enim facilis. Eius, molestias!</p>
        <br><br>
        <button><a href="/order"> Order Now!</a></button>
    </div>
    <br><Br><br><br><br>
    <div id="services">
        <h1 class="yt">Our Services</h1>
        <div class="content">
            <div class="c1">
                <img src="../static/How-to-start-a-food-delivery-business.png" alt="">
                <h1>Food Delivery</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Food Delivery</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Food Delivery</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                
        </div>
        <div class="content">
            <div class="c1">
                <img src="../static/How-to-start-a-food-delivery-business.png" alt="">
                <h1>Food Delivery</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Food Delivery</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Food Delivery</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                
        </div>

    </div>
    <div id="partners">
        <h1 class="yt">Our Clients</h1>
        <div class="my">
        <div class="company">
            <img src="../static/640px-Apple-logo.png" alt="">
        </div>
        <div class="company">
            <img src="../static/Amazon logo.png" alt="">
        </div>
        <div class="company">
            <img src="../static/Zomato-logo.png" alt="">
        </div>
        <div class="company">
            <img src="../static/new-microsoft-logo-SIZED-SQUARE-300x297-300x297.jpg" alt="">
        </div>
    </div>
    </div>
    <section id="contact">
        <h1 class="yt">Contact Us</h1>
        <div >
            <form action="" method="post">
                <div class="cbox">
                    <div class="gt"><label for="Name">Name: </label>
                    <input type="text" id="name" placeholder="Enter Your Name" name="name"></div>
                    <div class="gt"><label for="Email">Email Id: </label>
                    <input type="email" id="mail" placeholder="Enter Your Mail-Id" mail="mail" name="email"></div>
                    <div class="gt"><label for="Phone Number">Phone Number: </label>
                    <input type="integer" id="phno" placeholder="Enter Your Phone Number: " phno="phno" name="phone"></div>
                   <div class="gt"> <label for="Description">Description: </label>
                    <input type="text" id="description" placeholder="Enter Your Description" description="description" name="desc" ></div>
                    <button class="gt">Submit</button>
                    
                </div>
            </form>
        </div>

    </section>
    <footer class="center">
        <div >
            Copyright &copy; www.freshfood.com. All Rights Reserved!
        </div>
    </footer>
</body>
</html>