<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Online Food Delivery Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/order.css">
    <link rel="stylesheet" media="screen and (max-width: 1281px)" href="../static/phone1.css">
</head>
<body>
    <header id="fix">
        <nav class="navbar">
            <img src="../static/pngtree-fresh-food-logo-png-image_4774188.jpg" alt="" class="logo">
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="#fruits">Fruits</a></li>
                <li class="item"><a href="#veg">Vegetables</a></li>
                <li class="item"><a href="#dairy">Dairy Products</a></li>
            </ul>
        </nav>
    </header>
    <div id="services">
        <div id="fruits">
        <h1 class="yt">Fruits</h1>
        <div class="content">
            <div class="c1">
                <img src="../static/How-to-start-a-food-delivery-business.png" alt="">
                <h1>Banana</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Apple</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Orange</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                
        </div>
        <div class="content">
            <div class="c1">
                <img src="../static/How-to-start-a-food-delivery-business.png" alt="">
                <h1>Guava</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Mango</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Litchi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
            </div>       
        </div>
        <div id="services">
            <div id="veg">
            <h1 class="yt">Vegetables</h1>
            <div class="content">
                <div class="c1">
                    <img src="../static/How-to-start-a-food-delivery-business.png" alt="">                    <h1>LadyFinger</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                <div class="c1">  <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Brocolli</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                <div class="c1">  <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Carrot</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                    
            </div>
            <div class="content">
                <div class="c1">
                    <img src="../static/How-to-start-a-food-delivery-business.png" alt="">                    <h1>Onion</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Potato</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                <div class="c1">  <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Chilli</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                </div>       
            </div>
            <div id="services">
                <div id="dairy">
                <h1 class="yt">Dairy Products </h1>
                <div class="content">
                    <div class="c1">
                        <img src="../static/How-to-start-a-food-delivery-business.png" alt="">                        <h1>Milk</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                    <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Egg</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                    <div class="c1">  <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Cheese</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                        
                </div>
                <div class="content">
                    <div class="c1">
                        <img src="../static/How-to-start-a-food-delivery-business.png" alt="">                        <h1>Butter</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                    <div class="c1">  <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Bread</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                    <div class="c1"> <img src="../static/How-to-start-a-food-delivery-business.png" alt=""><h1>Mayonnaise</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eius distinctio doloribus, amet quasi tempora.</p></div>
                    </div>       
                </div>
                <footer class="center">
                    <div >
                        Copyright &copy; www.freshfood.com. All Rights Reserved!
                    </div>
                </footer>
</body>
</html>